
    <nave>
        <div class="site-title"
            style="border: 1px solid black" > <a href="/"><h1 style="direction:initial; font-style: oblique;">Blogs page</h1></a>
        </div>
        <p style="color:rgb(12, 12, 12); font-style: inherit;"> WELCOM </p>
        <ul style=" list-style-type: none;
        padding: 0;
        border: 1px solid rgb(26, 16, 114)">
            <span style="color:blue;font-weight:bold">
             <li><a href="/"> Blogs</a></li>
            <li><a href="/about"> about page</a></li>
            <li><a href="/blogs/create">  create new blogs</a></li>
            <li><a href="/page">   new page</a></li>

            </span>
            
        </ul>
    </nave>