
<html lang ="en">

    <%- include('./partials/head.ejs') %>
    <body>
    
    
        <%- include('./partials/nav.ejs') %>
    
        <div class="blogs content">
            <h2> blogs</h2>
            <p style="font-style: italic; font: larger;">a website on which one person or group puts new information regularly, often every day</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    
    </body>
    </html>
